{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>
    <br></br>
<div class="jumbotron">
    <table class="table table table-bordered table-striped">
        <tbody>
        <tr>
                {# <th>Image</th> #}
                <img src="/images/uploads/{{ article.path }}" class="img-big align-center" alt="{{ article.image }}">
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>DateParution</th>
                <td>{{ article.dateParution ? article.dateParution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ article.isbn }}</td>
            </tr>
            
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <a href="{{ path('home') }}" class="btn btn-secondary btn-lg">Retour à la liste</a>
    <br></br>
    
    <br></br>

   
{% endblock %}
