{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{# {% block stylesheets %}

<link rel="stylesheet" href="css/style.css" >

{% endblock %} #}


{% block body %}

{# {% block slider %} #}

	{{ include('home/slider.html.twig') }}

	{# {% endblock  %} #} 

	<div class="container-fluid layout-bg tab-container">

		<div class="row">
			<div class="col col-9 ">
				<div class="nav-tab-primary p-2 h-100">
			
					<ul class="nav nav-tabs justify-content-start mb-0" id="pills-tab" role="tablist">
						<li class="nav-item">
						{% if ( isbn == "" and message == "") %}
						
							<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" 
							role="tab" aria-controls="pills-home" aria-selected="true">Panorama des Livres</a>
						{% else %}
							<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" 
							role="tab" aria-controls="pills-home" aria-selected="true">Panorama des Livres</a>
					
						{% endif %}
						</li>
						<li class="nav-item">
						{% if ( isbn == ""  and message == "") %}
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" 
							href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
							Recherche ISBN</a>
						{% else %}
							<a class="nav-link active" id="pills-profile-tab" data-toggle="pill" 
							href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
							Recherche ISBN</a>					
						{% endif %}
						</li>
						{# <li class="nav-item">
							<a class="nav-link" id="pills-contact-tab" data-toggle="pill" 
							href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Autre</a>
						</li> #}
					</ul>
					<div class="tab-content" id="pills-tabContent">

					{% if ( isbn == "" and message == "" ) %}
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							{{ include('home/tab_1.html.twig') }}
						</div>
						{% else %}
						<div class="tab-pane fade p-5 " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							{{ include('home/tab_1.html.twig') }}
						</div>
						{% endif %}
						{% if ( isbn == "" and message == "") %}
						<div class="tab-pane fade p-5" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							{{ include('home/tab_2.html.twig') }}
							
						</div>
						{% else %}
							<div class="tab-pane fade show active p-5" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							{{ include('home/tab_2.html.twig') }}
							
						</div>
						{% endif %}

						{# <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
							{{ include('home/tab_3.html.twig') }}
						
						</div> #}
					</div>
				</div>
			</div>
			<div class="col col-3">

			    {{ include('home/tab_auteur.html.twig') }}

			</div>

		</div>
		<div>
		 {{ include('home/btm.html.twig') }}
		</div>
	</div>
{% endblock %}
{# <script>
		var triggerEl = document.querySelector('#myTab a[href="#profile"]')
		bootstrap.Tab.getInstance(triggerEl).show() // Select tab by name
		
		var triggerFirstTabEl = document.querySelector('#myTab li:first-child a')
		bootstrap.Tab.getInstance(triggerFirstTabEl).show() // Select first tab
		</script> #}
