
  
  {# Gestion de l'appel API #}
  <form action="{{ path('home_hydrate') }}" method="post">
    <label for="isbn_api">
      faire une recherche depuis l'ISBN
    </label>
    <br>
    <input type="text" name="isbn_api">
    <button>Rechercher depuis l'ISBN</button>
  </form>
  <hr>


   <label for="isbn">ISBN</label>
   <br>
   <input type="text" name="isbn" data-id="  " id="isbn"  disabled
          {# onchange="display_info()"  value="{{ }}978145164854"  #}
         value="{{ isbn }}"  
         >
    <br>
   
   <label for="titre">Titre</label>
    <br>
    <input type="text" name="titre" id="titre" value="{{ titre }}"  disabled>
   <br>
   <label for="description">Description</label>
   <br>
    <textarea id="description" name="description" rows="4" cols="50"  disabled >
        {{ description }}
    </textarea>
     <br>
  <label for="message" readonly>Message</label>
   <br>
   <input type="text" name="message"  value="{{ message }} "  disabled> 



