
  
  {# Gestion de l'appel API #}
  <form action="{{ path('home_hydrate') }}" method="post">
    <label for="isbn_api">
      Faire une recherche depuis l'ISBN
    </label>
     <div class="d-flex">
    <input type="text" name="isbn_api" class="form-control w-50 mr-2 form-control">
    <button class="btn btn-primary">Rechercher depuis l'ISBN</button>
     </div>
  </form>
  <hr>


   <label for="isbn">ISBN</label>
   <div>
   <input class="form-control" type="text" name="isbn" data-id="  " id="isbn"  disabled
          {# onchange="display_info()"  value="{{ }}978145164854"  #}
         value="{{ isbn }}"  
         >
   </div> 
   
   <label for="titre">Titre</label>
   <div>
    <input class="form-control" type="text" name="titre" id="titre" value="{{ titre }}"  disabled>
   </div>
    <label for="description">Description</label>
 <div>
    <textarea class="form-control" id="description" name="description" rows="4" cols="50"  disabled >
        {{ description }}
    </textarea>
 </div> 
  <label for="message" readonly>Message</label>
  <div>
   <input class="form-control" type="text" name="message"  value="{{ message }} "  disabled> 
  </div>



