{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1>Auteur</h1>
    <br></br>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ auteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ auteur.prenom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ auteur.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ auteur.image }}</td>
            </tr>
        </tbody>
    </table>
    <br></br>

    <a href="{{ path('auteur_index') }}" class="btn btn-secondary btn-lg">Retour à la liste</a>
    <br></br>

    <a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="btn btn-secondary btn-lg">Editer</a>
    <br></br>

    {{ include('auteur/_delete_form.html.twig') }}
{% endblock %}
