

    <div class="row">
        <div class="col col-6">
        <ul>
                    
                    <li><a class="nav-link" href="{{ path("apropos") }}">A propos</a></li>
                    <li><a class="nav-link" href="{{ path("cookies") }}">Gestion des cookies</li>
                    <li><a class="nav-link" href="{{ path("cgv") }}">Conditions générales de vente</a>
                    <li><a class="nav-link" href="{{ path("cus") }}">Conditions d'utilisation du site</a>
                    
                </ul>
        </div>
        <div class="col col-6">
        <ul>
                    <li><a class="nav-link" href="{{ path("faq") }}">FAQ</a></li>
                    <li><a class="nav-link" href="{{ path("contact") }}">Nous contacter</a></li>
                    <li><a class="nav-link" href="{{ path("rejoindre") }}">Nous rejoindre</a></li>
                    <li><a class="nav-link" href="{{ path("reseaux") }}">Réseaux sociaux</a></li>
                    
                </ul>
        </div>
     </div>
            <div class="copyright">
            <p>
                &copy;BIBLIA - {{"now" | date("Y") }} Tous droits réservés
            </p>

          
        </div>