{% extends 'base.html.twig' %}

{% block title %}Etat index{% endblock %}

{% block body %}
    <h1>Etat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etat in etats %}
            <tr>
                <td>{{ etat.id }}</td>
                <td>{{ etat.libelle }}</td>
                <td>
                    <a href="{{ path('etat_show', {'id': etat.id}) }}">Afficher</a>
                    <a href="{{ path('etat_edit', {'id': etat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun resultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('etat_new') }}">Ajouter</a>
{% endblock %}
