{% extends 'base.html.twig' %}

{% block title %}Etats{% endblock %}

{% block body %}
    <h1>Etat</h1>
    <br></br>
<div class="jumbotron">
    <table class="table table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etat.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ etat.libelle }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <br></br>

    <a href="{{ path('etat_edit', {'id': etat.id}) }}" class="btn btn-secondary btn-lg">Editer</a>

    <br></br>

    <a href="{{ path('etat_index') }}" class="btn btn-secondary btn-lg">Retour à la liste</a>

    <br></br>

    

    {{ include('etat/_delete_form.html.twig') }}
{% endblock %}
